global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'spring_microservices'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets:
        - '${PRIVATE_IP_PAYMENT}:8081'
        - '${PRIVATE_IP_AUTH}:8082'
        - '${PRIVATE_IP_INVENTORY}:8083'

  - job_name: 'json-order-service'
    static_configs:
        - targets: ['order-service:8084']
          labels:
            service: 'json-order-service'
    metrics_path: '/metrics'
